@mixin flexcenter    {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {

    @include flexcenter();

    background-color: lightblue;
    height: 100vh;
    color: $textcolor;
    button {
        background: $primaryBtn;
        &:hover {
            background: rgb(185, 69, 185);
        }
    }
}