@mixin bodyStruction($selection) {
    justify-content: $selection;
    text-align: center;
}

@mixin flexcenter($direction) {
    display: flex;
    justify-content: $direction;
}

@mixin bodyText {
    
}