body {
    background-color: black;
    background-image: url();
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
}

.center {
    position: absolute;
    top: 10%;
    bottom: 50%;
}

.thick {
    background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/469890/3b3825ccf060dd685d7c0d1d405290ecc38239e1.jpg);
    background-size: 100%;
    background-position: bottom;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 60px;
}

.thicky {
    margin-left: 10%;
}

h2 {
    font-size: 60px;
    padding-left: 37%;
    font-style: oblique;
}

h1 {
    font-size: 30px;
    padding-left: 34%;
    padding-right: 30%;
    padding-top: 2%;
    font-style: oblique;
}

.caesar {
    font-family: cursive;
    font-style: italic;
    text-align: center;
    font-size: 17px;
    padding-left: 30%;
    padding-right: 30%;
}

.raid {
    font-family: cursive;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    padding-left: 30%;
    padding-right: 30%;
}