@mixin fontText {
    font-size: $navbarSize;
    font-family: $textfont;
}

@mixin navbarHover {
    color: #f1ff2b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@mixin bpictureText {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    color: $pictureColor;
    width: 50vw;
    left: 24vw;
    text-shadow: 0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}