.first-text {
    @include bpictureText();
    top: 22vw;
    
}

.second-text {
    @include bpictureText();
    top: 72vw;
}

.third-text {
    @include bpictureText();
    top: 122vw;
}

.fourth-text {
    @include bpictureText();
    top: 167vw;
}

.fifth-text {
    @include bpictureText();
    top: 222vw;
}

.sixth-text {
    @include bpictureText();
    top: 272vw;
}

.seventh-text {
    @include bpictureText();
    top: 322vw;
}

.eight-text {
    @include bpictureText();
    top: 372vw;
}

.ninth-text {
    @include bpictureText();
    top: 422vw;
}

.tenth-text {
    @include bpictureText();
    top: 472vw;
}

.eleventh-text {
    @include bpictureText();
    top: 522vw;
}