/*Smaller screens*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    margin: 0;
  }
}

/*Bigger screens*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  #topBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff9e0d;
    color: #2e2d2d;
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 22px;
  }
  #topBtn:hover {
    background-color: #fbff00;
  }
  .icon {
    width: 5rem;
    height: 5rem;
  }
}

/*TRY TO IMPLEMENT MIXINS*/
/*NEED A TEXT VARIABLE*/
:root {
  font-size: 16px;
  font-family: "Georgia";
}

body {
  padding: 0;
  margin: 0;
  color: #ff9e0d;
  background-color: #2e2d2d;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #2e2d2d;
}

body::-webkit-scrollbar-thumb {
  background: #ffee00;
}

.navbar {
  position: fixed;
  background-color: #2e2d2d;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: var(--transition-speed);
  transition: var(--transition-speed);
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #ff9e0d;
}

.link-text {
  display: none;
  color: #fbff00;
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #fbff00;
  background: black;
  letter-spacing: 0.3ch;
  width: 100%;
}

main {
  margin-left: 5rem;
  color: #fbff00;
}

img {
  width: 100%;
  height: auto;
}

.textbox {
  width: auto;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
  background: #2e2d2d;
}

.textpic {
  width: 50rem;
  height: 50rem;
}
/*# sourceMappingURL=style.css.map */