.first-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 22vw;
}

.second-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 72vw;
}

.third-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 122vw;
}

.fourth-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 167vw;
}

.fifth-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 222vw;
}

.sixth-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 272vw;
}

.seventh-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 322vw;
}

.eight-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 372vw;
}

.ninth-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 422vw;
}

.tenth-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 472vw;
}

.eleventh-text {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  color: #e5ff00;
  width: 50vw;
  left: 24vw;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  top: 522vw;
}

/*TRY TO IMPLEMENT MIXINS*/
/*NEED A TEXT VARIABLE*/
body {
  margin: 0;
  background-color: black;
}

.navbar {
  overflow: hidden;
  width: 100%;
  background-color: #a88f00;
}

.navbar .navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropBtn {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  border: 1rem;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #a88f00;
}

.dropBtn:hover {
  color: #f1ff2b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.dropdown-content {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #a88f00;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}

.dropdown-content a:hover {
  color: #f1ff2b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nmBtn {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  float: left;
  overflow: hidden;
  display: block;
  padding: 14px 16px;
  background-color: #a88f00;
  color: white;
  border: 1rem;
}

.nmBtn:hover {
  color: #f1ff2b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 100%;
  height: 50vw;
}

#topBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 22px;
}

#topBtn:hover {
  background-color: #636262;
}
/*# sourceMappingURL=style.css.map */